<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nodeJS</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div id="wrapper">
    <div id="information">
        <input type="text" id="hoten" placeholder="hoten">
        <input type="text" id="email" placeholder="email">
        <input type="text" id="sdt" placeholder="sdt">
        <input type="button" id="btn-dangky" value="send">
    </div>
    <div id="listUsers">
        <h3>Danh sach hoc vien</h3>
        <div id="ds">
        </div>
    </div>
</div>


</body>
<!--import script-->
<script src="jquery.min.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="main.js"></script>

</html>